<!DOCTYPE html>
<html lang="{{.Language}}">

<!-- Landing Page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ogpu">
    <meta name="description" content="The quick brown fox jumps over the lazy dog">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx_v1.9.10.min.js"></script>
    <link rel="icon" href="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P438HwHwAGmAKH433eggAAAABJRU5ErkJggg=="><link>
    <link resource="">
</head>

<!-- icon: #ff8800 1×1 GIF -->
<!-- Pfeile: &#11160 bis &#11167 -->

<body id=main>

<div class="navbar">
    <a hx-get="./index1"
       hx-push-url="./index1"
       hx-trigger="click[checkGlobalState(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <img src="/noun-home-5487412.svg" alt="Home" style="width: 2em">
    </a>
    <a href="#">News</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown &#11163;
        </button>
        <div class="dropdown-content">
            <a hx-get="/de/index1"
               hx-push-url="/de/index1"
               hx-trigger="click[checkGlobalState(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <img src="/de.svg" alt="DE" style="width: 5.7em">
            </a>
            <a hx-get="/en/index1"
               hx-push-url="/en/index1"
               hx-trigger="click[checkGlobalState(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <img src="/gb.svg" alt="GB" style="width: 5.7em">
            </a>
        </div>
    </div>
    <script>
        function checkGlobalState(event) {
            let currentURL = window.location.pathname;
            let clickedLink = event.target.closest('a');
            if (clickedLink) {
                return clickedLink.getAttribute("hx-get") !== currentURL;
            }
        }
    </script>
</div>


<div style="padding-top: 2rem">
    <div class="custom-div1">
        <h1 class="custom-h1">{{.H1Content}}</h1>
        <p class="custom-p">{{.PContent}}</p>
    </div>
</div>


</body>

</html>
