<!DOCTYPE html>
<html lang="{{.Language}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx_v1.9.10.min.js"></script>
    <link resource="">
</head>

<body id=main>

<div class="navbar">
    <a href="#">Home</a>
    <a href="#">News</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown &#11163;
        </button>
        <div class="dropdown-content">
            <a hx-get="/de/index2"
               hx-push-url="/de/index2"
               hx-trigger="click[checkGlobalState(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <img src="/de.svg" alt="DE" style="width: 5.7em">
            </a>
            <a hx-get="/en/index2"
               hx-push-url="/en/index2"
               hx-trigger="click[checkGlobalState(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <img src="/gb.svg" alt="GB" style="width: 5.7em">
            </a>
        </div>
    </div>
    <script>
        function checkGlobalState(event) {
            let currentURL = window.location.pathname;
            let clickedLink = event.target.closest('a');
            if (clickedLink) {
                return clickedLink.getAttribute("hx-get") !== currentURL;
            }
        }
    </script>
</div>

<div style="padding-top: 2rem">

    <div class="custom-div1">
        <h1 class="custom-h1">{{.H1Content}}</h1>
        <p class="custom-p">{{.PContent}}</p>
        <button onclick="toggleVisibility()"
                class="custom-button">
            {{.ButtonContent}}
        </button>
        <script>
            function toggleVisibility() {
                let element = document.getElementById("toggled");
                let hidden = element.getAttribute("hidden");
                if (hidden) {
                    element.removeAttribute("hidden");
                } else {
                    element.setAttribute("hidden", "hidden");
                }
            }
        </script>
    </div>

    <div id="toggled" hidden="hidden" style="text-align: center">
        <button id="additionalButton1"
                hx-get="./index1"
                hx-push-url="./index1"
                hx-trigger="click once"
                hx-target="#main"
                hx-swap="innerHTML"
                class="custom-add-button">
            {{.AddButton1Content}}
        </button>
        <button id="additionalButton2"
                hx-get="./index3"
                hx-push-url="./index3"
                hx-trigger="click once"
                hx-target="#main"
                hx-swap="innerHTML"
                class="custom-add-button">
            {{.AddButton2Content}}
        </button>
    </div>

</div>

</body>

</html>
