<!DOCTYPE html>
<html lang="{{.Language}}" xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!-- Contact Page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Mustermann">
    <meta name="description" content="The quick brown fox jumps over the lazy dog">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx_v1.9.12.min.js"></script>
    <script src="/htmx_preload.js"></script>
    <link rel="icon" href="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P438HwHwAGmAKH433eggAAAABJRU5ErkJggg==">
</head>

<!-- icon: #ff8800 1×1 GIF, SVGs optimized with https://www.svgviewer.dev/ -->

<body id="main" hx-on:htmx:after-Settle="initializePage()">

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon"><path d="M4 4v18h6v6h18V10h-6V4Zm2 2h14v4.563L10.563 20H6Zm5 2v1H8v2h4.938c-.13 1.148-.481 2.055-1.063 2.688a4.5 4.5 0 0 1-.906-.407C10.266 12.863 10 12.418 10 12H8c0 1.191.734 2.184 1.719 2.844A8.3 8.3 0 0 1 8 15v2c1.773 0 3.25-.406 4.375-1.156.523.09 1.055.156 1.625.156v-1.875c.543-.91.832-1.973.938-3.125H16V9h-3V8Zm10.438 4H26v14H12v-4.562ZM20 13.844l-.937 2.844-2 6-.063.156V24h2v-.875l.031-.125h1.938l.031.125V24h2v-1.156l-.062-.157-2-6Zm0 6.281.281.875h-.562Z"/></svg>
        </button>
        <div id="dropdown-content" class="dropdown-content">
            <a href="/de/index/5"
               hx-get="/de/index/5"
               hx-push-url="true"
               hx-trigger="click[checkIfSwap(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480" class="flag"><path fill="#fc0" d="M0 320h640v160H0z"/><path fill="#000001" d="M0 0h640v160H0z"/><path fill="red" d="M0 160h640v160H0z"/></svg>
            </a>
            <a href="/en/index/5"
               hx-get="/en/index/5"
               hx-push-url="true"
               hx-trigger="click[checkIfSwap(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480" class="flag"><path fill="#012169" d="M0 0h640v480H0z"/><path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0z"/><path fill="#C8102E" d="m424 281 216 159v40L369 281zm-184 20 6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z"/><path fill="#FFF" d="M241 0v480h160V0zM0 160v160h640V160z"/><path fill="#C8102E" d="M0 193v96h640v-96zM273 0v480h96V0z"/></svg>
            </a>
        </div>
    </div>
    <a href="../index/1"
       hx-get="../index/1"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon"><path d="m16 2.594-.719.687-13 13L3.72 17.72 5 16.437V28h9V18h4v10h9V16.438l1.281 1.28 1.438-1.437-13-13Zm0 2.844 9 9V26h-5V16h-8v10H7V14.438Z"/></svg>
    </a>
    <a href="../index/2"
       hx-get="../index/2"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon"><path d="M4 5v6h6V5Zm2 2h2v2H6Zm6 0v2h15V7Zm-8 6v6h6v-6Zm2 2h2v2H6Zm6 0v2h15v-2Zm-8 6v6h6v-6Zm2 2h2v2H6Zm6 0v2h15v-2Z"/></svg>
    </a>
    <a href="../index/4"
       hx-get="../index/4"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon"><path d="M16 4c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4m0 2c1.117 0 2 .883 2 2s-.883 2-2 2-2-.883-2-2 .883-2 2-2m-5 7v5h2v5h-2v5h10v-5h-2V13Zm2 2h4v10h2v1h-6v-1h2v-9h-2Z"/></svg>
    </a>
    <a href="../index/5"
       hx-get="../index/5"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon"><path d="M3 8v18h26V8Zm4.313 2h17.375L16 15.781ZM5 10.875l10.438 6.969.562.343.563-.343L27 10.875V24H5Z"/></svg>
    </a>
    <a href="https://icons8.com/line-awesome" id="lineAwesomeLink" class="link">Line</a>
    <a href="https://flagicons.lipis.dev/" id="flagIconsLink" class="link">Flag</a>
    <script>
        function checkIfSwap(event) {
            let swap;
            const currentPath = window.location.pathname;
            const clickedElement = event.target.closest('a');
            const currentPathLastPart = currentPath.substring(currentPath.lastIndexOf('/') + 1);
            const hxget = clickedElement.getAttribute("hx-get")
            const hxgetLastPart = hxget.substring(hxget.lastIndexOf('/') + 1);
            const closestDiv = clickedElement.closest('div');
            if (closestDiv.id === 'dropdown-content') {
                if (hxget !== currentPath) {
                    return swap=true
                } else {
                    return swap=false
                }
            } else {
                if (hxgetLastPart !== currentPathLastPart) {
                    return swap=true
                } else {
                    return swap=false
                }
            }
        }
    </script>
</div>

<div style="padding-top: 2rem">
    <div class="custom-div1">
        <h1 class="custom-h1">{{.H1Content}}</h1>
        <p class="custom-p">{{.PContent1}}</p>
        <p class="custom-p">{{.PContent2}}</p>
    </div>
</div>

</body>

<script>
    async function initializePage() {
    }
</script>

</html>
