<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX & Basic CSS Example</title>
    <link rel="stylesheet" href="styles.css">
    <script src="htmx_v1.9.10.min.js"></script>
    <link resource="">
</head>

<body class="custom-body">
<div id="bodyContent1">

    <div class="custom-div1" style="background-image: url('/3834171_80219.avif'); background-position: 50% 40%">
        <h1 class="custom-h1">HTML & CSS - Index.html</h1>
        <p class="custom-p">Click the button below to toggle the visibility:</p>
        <button onclick="toggleVisibility()"
                class="custom-button">
            Toggle Visibility
        </button>
        <script>
            function toggleVisibility() {
                let element = document.getElementById("toggled");
                let hidden = element.getAttribute("hidden");
                if (hidden) {
                    element.removeAttribute("hidden");
                } else {
                    element.setAttribute("hidden", "hidden");
                }
            }
        </script>
    </div>

    <div id="toggled" hidden="hidden" style="align-items: center">
        <button id="additionalButton1"
                hx-get="/index2"
                hx-push-url="/index2"
                hx-trigger="click once"
                hx-target="#bodyContent1"
                hx-swap="innerHTML"
                class="custom-add-button">
            Switch to 2nd File
        </button>
        <button id="additionalButton2"
                hx-get="/index3"
                hx-push-url="/index3"
                hx-trigger="click once"
                hx-target="#bodyContent1"
                hx-swap="innerHTML"
                class="custom-add-button">
            Switch to 3rd File
        </button>
    </div>

</div>

</body>

</html>
