<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX & Basic CSS Example</title>
    <link rel="stylesheet" href="styles.css">
    <script src="htmx_v1.9.10.min.js"></script>
    <link resource="">
</head>

<body id=main class="custom-body">

<div class="navbar">
    <a href="#">Home</a>
    <a href="#">News</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown &#11163;
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
</div>

<div style="padding-top: 2rem">

    <div class="custom-div1" style="background-image: url('/3834171_80219.avif'); background-position: 50% 40%">
        <div style="text-align: center; margin-top: 2rem">
            <button id="additionalButton1"
                    hx-get="/index"
                    hx-push-url="/index"
                    hx-trigger="click once"
                    hx-target="#main"
                    hx-swap="innerHTML"
                    class="custom-add-button">
                Back to 1st File
            </button>
            <button id="additionalButton2"
                    hx-get="/index2"
                    hx-push-url="/index2"
                    hx-trigger="click once"
                    hx-target="#main"
                    hx-swap="innerHTML"
                    class="custom-add-button">
                Back to 2nd File
            </button>
        </div>
    </div>

</div>

<!-- https://uiverse.io/RaspberryBee/calm-deer-81 -->

<div style="text-align: center; margin-top: 2rem">
    <label class="switch">
        <input type="checkbox" onchange="toggleFunction(this)">
        <span class="slider"></span>
    </label>
</div>

<script>
    function toggleFunction(element) {
        if (element.checked) {
            console.log("Switch is ON, call your function here");
        } else {
            console.log("Switch is OFF, call your function here");
        }
    }
</script>



</body>

</html>
